* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", "Roboto", sans-serif;
}
:root {
--span-color:#ff4400;
--a-color:#a19f9f;
--text-color:#000;
--p-color:#c0bebe;
  --padding-section: 50px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}
.description {
  font-size: 20px;
  color: var(--p-color);
  line-height: 1.5;
}