* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", "Roboto", sans-serif;
}
:root {
--span-color:#ff4400;
--a-color:#a19f9f;
--text-color:#000;
--p-color:#c0bebe;
--white:#fff;
  --padding-section: 50px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}
.description {
  font-size: 20px;
  color: var(--p-color);
  line-height: 1.5;
}
header{
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 10;
padding: 30px 0;
border-bottom: 1px solid rgb(0 0 0 / 0.1);
}
header .logo a{
  font-size: 35px;
  color: var(--text-color);
  font-weight: bold;
}
header .logo a span{
  color: var(--span-color);
}
header .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
header nav ul li {
  padding:5px  10px;
}
header nav ul li a{
  color: var(--p-color);
}
header img{
  width: 30px;
}
header label{
  cursor: pointer;
}
header nav input{
  appearance: none;
}
@media (max-width: 992px) {
  header nav {
    position: relative;
  }
  header .container label {
    cursor: pointer;
  }
  header nav input:checked + ul {
    display: block;
  }
  header nav ul {
    position: absolute;
    top: 48px;
    right: 0;
    display: none;
    min-width: 250px;
    background-color: var(--white);
  }
  header nav ul li:not(:last-child) {
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }
  header nav ul li a {
    display: block;
    padding: 10px;
  }
}
@media (min-width: 991px) {
  header nav label,
  header nav input {
    display: none;
  }
  header nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}
.cool-fashion {
  background-image: url(../images/hero.webp);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  color: var(--white);
  padding: 80px;
} 
.cool-fashion h1{
font-size: 60px;
font-weight: bold;
}
.cool-fashion p{
  line-height: 2;
  padding: 30px 0;
font-size: 20px;
}
.cool-fashion button{
  padding: 15px 30px;
  border: none;
  outline: none;
  background-color: var(--text-color);
  color: var(--white);
  border-radius: 40px;
}
@media (max-width:992px) {
  .cool-fashion p{
    color: var(--text-color);
  }
}